@import "../../../../styles/imports";

.template {
  border: $border;
  position: relative;
  padding: 2rem 3rem;
  border-radius: $borderRadius;
  overflow: hidden;

  &__title {
    font-family: $fontBold;
    color: $greyDark;
    font-size: 1.6rem;
  }

  &__body {
    color: $grey;
    font-size: 1.4rem;
  }

  &__button {
    &--delete {
      font-size: 1.4rem;
      color: $greyDark;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }

    &--normal {
      font-size: 1.4rem;
      color: $greyDark;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $mainColor;
      }
    }
  }

  @include toggleConainer;

  &-delete-checkbox {
    display: none;
    &:checked + .template__visible {
      transform: translateX(-110%);
    }

    &:checked ~ .template__hidden {
      left: 0;
    }
  }

  &__visible {
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 2rem;
    height: 100%;
  }

  &__hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    text-align: center;
  }
}
