@import "../../../styles/imports";

.my-streams {
  // @include padding;
  position: relative;

  &__header {
    font-size: 8rem;
    font-family: $fontBold;
    color: $mainColor;
    margin-top: 7rem;
    margin-bottom: 7rem;

    @include resize(1000px) {
      font-size: 7rem;
      margin-bottom: 6rem;
      margin-top: 6rem;

    }

    @include resize(900px) {
      font-size: 6rem;
      margin-bottom: 5rem;
      margin-top: 5rem;

    }

    @include resize(800px) {
      font-size: 5rem;
      margin-bottom: 4rem;
      margin-top: 4rem;

    }
  }
}
