@import "../../../../styles/imports";

.media {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;


  // &__toggle {
  //   &--with-audio {
  //     // height: 40rem;
  //     grid-column: 4/13;
  //     grid-row: 1/2;
  //     border-radius: $borderRadius;
  //     overflow: hidden;
  //     @include resize(1100px) {
  //       grid-column: 1/13;
  //     }
  //   }

  //   &--no-audio {
  //     grid-column: 4/13;
  //     grid-row: 1/4;
  //     border-radius: $borderRadius;
  //     overflow: hidden;
  //     @include resize(1100px) {
  //       grid-column: 1/13;
  //       grid-row: 1/3;
  //     }
  //   }

  //   &-checkbox {
  //     display: none;
  //     &:checked ~ .media__toggle-container .media__toggle-container--visible {
  //       transform: translateX(-110%);
  //     }

  //     &:checked ~ .media__toggle-container .media__toggle-container--hidden {
  //       left: 0;
  //     }
  //   }

  //   &-container {
  //     position: relative;
  //     overflow: hidden;
  //     @include toggleConainer;
  //   }
  // }

  &__content {
    height: 100%;
    grid-column: 4/13;
    grid-row: 1/4;
  }

  &__sidebar {
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/4;

    // &--with-mixlr {

    //   grid-column: 1/4;
    //   grid-row: 1/4;
    //   @include resize(1100px) {
    //     grid-column: 1/13;
    //     grid-row: 4/5;
    //   }
    // }

    // &--with-video {
    //   grid-column: 1/4;
    //   grid-row: 1/3;
    //   @include resize(1100px) {
    //     grid-column: 1/13;
    //     grid-row: 4/5;
    //   }
    // }

    // &--no-audio {
    //   grid-column: 1/4;
    //   grid-row: 1/4;
    //   @include resize(1100px) {
    //     grid-column: 1/13;
    //     grid-row: 3/4;
    //   }
    // }
  }

  // &__no-mobile {
  //   grid-column: 4/13;
  //   grid-row: 2/3;
  //   @include resize(1100px) {
  //     grid-column: 1/13;
  //   }
  // }

  // &__mixlr {
  //   &--mobile {
  //     grid-column: 1/13;
  //     grid-row: 3/4;

  //     // @include resize(1100px) {
  //     //   grid-row: 3/4;
  //     // }
  //   }
  //   &--not-mobile {
  //     grid-column: 4/13;
  //     grid-row: 3/4;

  //     @include resize(1100px) {
  //       grid-column: 1/13;
  //       grid-row: 3/4;
  //     }
  //   }
  // }


}
