@import "../../../../styles/imports";

.media {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  &__content {
    height: 100%;
    grid-column: 4/13;
  }

  &__sidebar {
    height: 100%;
    grid-column: 1/4;
  }

  &__mobile {
    grid-column: 1/13;
  }
}
