@import "../../../styles/imports";

.user-social {
  // padding: 3rem 0;
  // display: grid;
  // gap: 2rem;
  // grid-template-columns: max-content 1fr 1fr;
  // align-items: center;
  
  &__avatar {
    width: 4rem;
    height: 4rem;
    border: 2px white solid;
    // box-shadow: 0 0.4rem 1.4rem rgb(170, 170, 170);
    border-radius: 100%;
    outline: none;
    cursor: pointer;

    &-container {
      border: 1px $mainColor dashed;
      border-radius: 100%;
    }
  }

  &__name {
    cursor: pointer;
    color: $grey;
    &:hover {
      color: $mainColor;
    }
  }

  &__details {
    display: grid;
    gap: 0.5rem;
  }
}
