@import '../../../../styles/imports';

.image-map{
    position: relative;
    width: max-content;
    margin-right: auto;
    z-index: 2000;
    transition: all 0.3s;

    &__tooltip {
        position: absolute;
        color: #fff;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
        // transform: translate3d(-80%, -80%, 0);
        border-radius: $borderRadius;
        pointer-events: none;
        z-index: 1000;
      }
}