@import "../../../../styles/imports";

.image-map {
  position: relative;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  z-index: $z50;
  padding: 4rem;
  transition: all 0.3s;

  @include resize(1000px){
    display: none;
  }
}
