@import "../../../styles/imports";

.footer {
  padding: 5rem 11rem;
  border-top: $border;
  background-color: $bgColor;
  // clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
  height: max-content;
  // background-image: linear-gradient($mainColor, $mainColorDarkest);
  width: 100%;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 20rem;

  @include resize(800px) {
    padding: 5rem 8rem;
  }

  // @include resize(800px) {
  //   padding: 10rem 6rem;
  // }

  @include resize(700px) {
    display: none;
  }

  &__left-cul {
    @include resize(900px) {
      display: none;
    }
  }

  &__logo {
    font-family: $fontBold;
    font-size: 3rem;
    color: white;
  }

  &__rights {
    font-family: $font;
    font-size: 1.4rem;
    color: $mainColor;
    margin-top: 2rem;
  }

  &__section {
    &-contents {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-weight: 900;
      text-transform: uppercase;
      color:  $mainColor;
      font-size: 1.4rem;
    }

    &-item {
      color:  $mainColor;
      font-size: 1.4rem;
      cursor: pointer;
      // margin-top: 2rem;
      width: max-content;
      transition: all 0.1s;
      &:hover {
        transform: translateY(-0.08rem);
      }
    }
  }
}
