@import "../../../styles/imports";

.footer {
  width: 100%;
  height: max-content;
  border-top: $border;
  background-color: $bgColor;
  margin-top: 10rem;


  &__container{
    width: 100%;
    height: max-content;
    max-width: 160rem;
    margin: auto;
    padding: 5rem 16rem;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 12rem;
  }

  &__mobile {
    margin-bottom: 6rem;
  }

  @include resize(800px) {
    padding: 5rem 8rem;
  }

  // @include resize(800px) {
  //   padding: 10rem 6rem;
  // }

  @include resize(700px) {
    display: none;
  }

  &__left-cul {
    @include resize(900px) {
      display: none;
    }
  }

  &__logo {
    font-family: $fontBold;
    font-size: 3rem;
    color: white;
  }

  &__rights {
    font-family: $font;
    font-size: 1.4rem;
    color: $mainColor;
    margin-top: 2rem;
  }

  &__section {
    &-contents {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-weight: 900;
      text-transform: uppercase;
      color: $mainColor;
      font-size: 1.4rem;
    }

    &-item {
      color: $mainColor;
      font-size: 1.4rem;
      cursor: pointer;
      // margin-top: 2rem;
      width: max-content;
      transition: all 0.1s;
      &:hover {
        transform: translateY(-0.08rem);
      }
    }
  }

  &__floor {
    width: 100%;
    position: absolute;
    max-width: 140rem;
    display: grid;
    grid-template-columns: 1fr max-content;

    padding: 0 10rem;
    @include resize(1200px) {
      padding: 0 6rem;
    }

    @include resize(1000px) {
      padding: 0 5rem;
    }

    &-powered {
      &-container {
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
      &-salon {
        font-family: $fontBold;
        font-size: 4rem;
        color: $mainColor;
      }
      &-powered {
        font-size: 1rem;
        color: $mainColor;
        margin: 0.5rem;
      }
    }

    &-hashtag {
      color: $grey;
      cursor: pointer;
      &:hover {
        color: $mainColor;
      }
    }
    &-container {
      width: 100%;
      max-width: 140rem;
      margin: auto;
    }

    &-logo {
      opacity: 0.5;
      height: 4rem;
    }
  }
}
