@import "../../../styles/imports";

.toggle-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 0;

  &__text {
    margin-right: 2rem;
    user-select: none;
    cursor: pointer;
    color: $mainColor;

    &:hover {
      color: $mainColorLight;
    }
  }
}
