@import "../../../../styles/imports";

.update {
  background-color: $bgColor;
  border-radius: 0 3rem 0 3rem;
  padding: 1.5rem;
  margin-top: 1rem;
  cursor: default;

  &__user {
    font-weight: 900;
    &:hover {
      color: $mainColor;
    }
  }

  &__room{
    font-weight: 900;
    color: $mainColor;
  }

  &__timestamp{
      font-size: 1.2rem;
      color: $grey;
  }
}
