@import "../../../styles/imports";

.floor-management {
  width: 100%;
  max-width: 160rem;
  padding: 2rem;
  // margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // @include padding;

  &__table {
    margin-top: 3rem;
    border: $border;
    border-radius: $borderRadius;
  }

  &__col-titles {
    display: grid;
    width: 100%;
    grid-template-columns: $floorRows;
    padding: 0.8rem;
    justify-content: start;
  }

  &__col-title {
    font-family: $fontBold;
    color: $mainColor;
  }
  &__floors {
    overflow: hidden;
  }

  &__title {
    font-size: 2rem;
    font-family: $fontBold;
    color: $mainColor;
  }
}
