@import "../../../styles/imports";

.floor-management {
  width: 100%;
  min-width: calc(100vw - 5rem);
  max-height: calc(100vh - 5rem);

  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-x: hidden;
  overflow-y: scroll;
  @include scroll;

  &__table {
    margin-top: 3rem;
    border: $border;
    border-radius: $borderRadius;
  }

  &__col-titles {
    display: grid;
    width: 100%;
    grid-template-columns: $floorRows;
    padding: 0.8rem;
    justify-content: start;
  }

  &__col-title {
    font-family: $fontBold;
    color: $mainColor;
  }
  &__floors {
    overflow: hidden;
  }

  &__title {
    font-size: 2rem;
    font-family: $fontBold;
    color: $mainColor;
  }
}
