@import "./imports";

a {
  text-decoration: none !important;
}

details summary {
  outline: none;
  border: none;
  &::-webkit-details-marker {
    display: none;
  }
}

h1 {
  @include heading;

  font-size: 5rem;
  line-height: 8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
h2 {
  @include heading;

  font-size: 3rem;
  line-height: 6rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  @include heading;

  font-size: 3rem;
  line-height: 5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.feed {
  padding: 2rem;
  position: relative;
  display: grid;

  max-height: calc(100vh - 5rem);
  overflow-y: scroll;

  @include scroll;

  &__load-more {
    border-radius: $borderRadius;
    border: 1px solid $mainColor;
    color: $mainColor;
    width: max-content;
    padding: 1.5rem 2.5rem;
    background-color: white;
    cursor: pointer;
    margin: auto;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover {
      padding: 1.8rem 2.8rem;
    }
  }

  &__header {
    font-size: 8rem;
    line-height: 9rem;
    font-family: $fontBold;
    color: $mainColor;
    margin-top: 3rem;
    margin-bottom: 7rem;

    @include resize(1100px) {
      font-size: 6rem;
      margin-bottom: 6rem;
      margin-top: 1rem;
    }

    @include resize(900px) {
      font-size: 6rem;
      line-height: 7rem;
      margin-bottom: 5rem;
      margin-top: 0em;
    }

    @include resize(800px) {
      font-size: 5rem;
      line-height: 6rem;
      margin-bottom: 4rem;
      // width: min-content;
    }

    @include resize(600px) {
      font-size: 3rem;
      line-height: 3rem;
      margin-bottom: 2rem;
    }
  }
}

.info {
  margin-bottom: 1rem;
  &::before {
    content: "?";
    display: block;
    font-size: 1rem;
    height: 1.7rem;
    width: 1.7rem;
    color: $grey;
    border-radius: 8rem;
    border: 1px solid $greyLight;
    text-align: center;
    justify-content: center;
    align-content: center;
    line-height: 1.7rem;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 3rem; /* gutter size */
  background-clip: padding-box;
}

.li {
  font-family: $font;
  font-size: 1.6rem;
  color: $grey;
  line-height: 2.8rem;
  &-unstyled {
    list-style: none;
  }
}

.paragraph {
  font-family: $font;
  font-size: 1.6rem;
  color: $grey;
  line-height: 2.8rem;
  margin-bottom: 2.8rem;
}
.centered-text {
  text-align: center;
}
.centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.justify-end {
  width: max-content;
  margin-left: auto;
}

.message {
  &-bold {
    font-family: $fontBold, $fontHebrew;
    font-size: 5rem;
    line-height: 7rem;
    color: $mainColorDarkest;
  }
  &-body {
    font-size: 2.5rem;
    line-height: 5rem;
    color: $mainColorLight;
  }
  &-ill {
    max-width: 40vw;
    max-height: 40vh;
  }
}

.bold {
  &-700 {
    font-weight: 700;
    color: inherit;
  }
  &-900 {
    font-weight: 900;
    color: inherit;
  }
}

.underline {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.quote {
  font-size: 2.5rem;

  &__content {
    font-style: italic;
  }
}

.form-error {
  color: red;
}

.cover-image {
  &__preview {
    @include image;
    padding: 2rem;
  }

  &__container {
    width: 100%;
    padding-top: 52.35%;
    position: relative;
  }
}

.small-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  background-color: $mainColor;
  border-radius: $borderRadius;
  color: white !important;
  padding: 0.2rem 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;

  &--disabled {
    background-color: $greyLightest !important;
    color: $greyDark !important;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.boxed-button {
  height: min-content;
  text-align: center;
  font-size: 1.2rem;
  user-select: none;
  font-family: $font;
  background-color: $mainColor;
  color: white !important;
  padding: 0.3rem 3rem 0.5rem 3rem;
  margin: 0;
  border-radius: $borderRadius;
  box-shadow: 0 0.2rem 1rem $shadowColor;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 1.4rem $shadowColor;
    color: white !important;
  }

  &:active {
    border: none;
    outline: none;
  }
}

.text-button {
  &-delete {
    // font-size: 1.6rem;
    color: $greyDark;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }

  &-normal {
    // font-size: 1.6rem;
    color: $greyDark;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $mainColor;
    }
  }

  &-mobile {
    color: $mainColor;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: none;
    text-shadow: 0px 0px 0px transparent;
    outline: none;
  }
}

.round-image {
  object-fit: cover;
  width: 50;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &__container {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.1s cubic-bezier(1, 0, 0, 1);

    &--profile-form {
      margin: auto;
      width: 40%;
      padding-top: 40%;
      border: white solid 0.5rem;
      box-shadow: 0 0.2rem 1rem rgb(170, 170, 170);

      &:hover {
        width: 42%;
        padding-top: 42%;
      }
    }

    &--small {
      border: white solid 0.2rem;
      width: 4.5rem;
      height: 4.5rem;
      // margin: 1rem;
      box-shadow: 0 0.2rem 0.2rem rgba(170, 170, 170, 0.8);
    }
  }
}

// .round-image {
//   @include image;

//   &__container {
//     width: 40%;
//     padding-top: 40%;
//     position: relative;
//     border-radius: 100%;
//     overflow: hidden;
//     margin: auto;
//     border: white solid 0.5rem;
//     box-shadow: 0 0.2rem 1rem rgb(170, 170, 170);
//     transition: all 0.2s cubic-bezier(1, 0, 0, 1);

//     &--growing {
//       &:hover {
//         width: 45%;
//         padding-top: 45%;
//       }
//     }
//   }
// }

.places-autocomplete {
  font-family: $font, Arimo;
  font-size: 1.9rem;
  padding: 0.4rem 3rem;
  &--active {
    font-size: 1.4rem;
  }
  &-dropdown-container {
    margin-top: 2rem;
  }
}

.tile-form {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr max-content;

  @include resize(1200px) {
    grid-template-columns: 1fr;
  }
}

.section {
  &__container {
    position: relative;
    border-radius: $borderRadius;
    box-shadow: $containerBoxShadow;
    box-shadow: 0 0.4rem 1.2rem $shadowColor;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.15s;

    &:hover {
      // transform: translateY(-0.2rem);
      box-shadow: $containerBoxShadow;
    }
  }
  &__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: $grey;
  }
}

.svg-icon {
  &--huge {
    height: 300px;
    width: 300px;
    text-align: center;
    margin: auto;
  }

  &--big {
    height: 20px;
    width: 20px;
    text-align: center;
    margin: auto;
  }

  &--normal {
    height: 15px;
    width: 15px;
    text-align: center;
    margin: auto;
  }

  &--small {
    height: 10px;
    width: 10px;
    text-align: center;
    margin: auto;
    // margin-bottom: 1rem;
    cursor: pointer;
  }
}

.legal-notice {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: $grey;
  &__link {
    cursor: pointer;
    &:hover {
      color: $mainColor;
      text-decoration: underline;
    }
  }
}
// .my-iframe {
//   border: none;
//   outline: none;
//   z-index: 20;

//   &--mixlr {
//     border: $border !important;
//     border-radius: $borderRadius;
//     overflow: hidden;
//     background-color: white;
//   }

//   &--invisible {
//     display: none !important;
//   }
// }

.invisible {
  display: none;
}

.rtl {
  direction: rtl;
}

.modal-window {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__content {
    width: 40%;
    min-width: 50rem;
    width: max-content;
    height: max-content;
    margin: auto;
    margin-top: 10vh;
    border-radius: $borderRadius;
    background-color: white;
    padding: 4rem;

    @include resize(750px) {
      position: relative;
      min-width: 100%;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      border: none;
      z-index: 20000;
    }
  }
}

.popup {
  display: none;
  max-width: 80rem;
  max-height: 70vh;
  align-items: center;
  transition: all 0.2s;
  position: fixed;
  overflow-y: scroll;
  flex-direction: column;
  z-index: $z100;
  padding: 5rem 8rem;
  border-radius: $borderRadius;
  border: 1px $mainColor solid;
  box-shadow: 0 0.2rem 9rem $shadowColor;
  background-color: white;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    outline: 1px solid slategrey;
  }

  @include resize(800px) {
    max-width: 80%;
    padding: 5rem 4rem;
  }

  @include resize(600px) {
    padding: 3em 3rem;
  }

  @include resize(750px) {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: none;
    z-index: 20000;
  }

  &:target {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__close {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-self: stretch;
    width: max-content;
    margin-top: 0rem;
    margin-left: auto;
    cursor: pointer;

    &-text {
      font-size: 1.2rem;
      color: $greyDarkest !important;
      text-decoration: none !important;

      &:hover {
        color: $mainColor !important;
        text-decoration: none !important;
      }
    }
  }

  &__title {
    text-align: center;
    font-family: $fontBold, $fontHebrew;
    font-size: 5rem;
    line-height: 5rem;
    color: $mainColor;
    // margin-bottom: 4rem;
    margin-top: 2rem;

    @include resize(700px) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.button-colored {
  width: max-content;
  color: $mainColor;
  cursor: pointer;
}

.empty-feed {
  font-family: $fontBold, $fontHebrew;
  color: $greyLight;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;

  // @include resize(800px) {
  //   font-size: 5rem;
  // }

  @include resize(650px) {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  @include resize(550px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  @include resize(450px) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.dropdown {
  &__options {
    position: absolute;
    top: 0;
    border: blueviolet 1px solid;
  }
}

.auth {
  &__button {
    // height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: 1.6rem;
    user-select: none;
    font-family: $font;

    padding: 1.2rem 5rem 1.4rem 5rem;
    border-radius: $borderRadius;
    // box-shadow: 0 0.2rem 1rem rgb(170, 170, 170);
    border: 1px solid $mainColor;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      font-weight: 900;
    }

    &--google {
      background: white;
      color: red;
    }

    &--facebook {
      background: white;
      color: $facebookColor;
    }

    &--direct {
      background: $mainColor;
      color: white;
    }
  }
}

.flex-group {
  display: flex;
}
.flex-group-spaced {
  display: flex;
  justify-content: space-between;
}

.fr {
  @include gridVariation;
  grid-template-columns: 1fr;
}

.fr-max {
  @include gridVariation;
  grid-template-columns: 1fr max-content;
}

.fr-fr {
  @include gridVariation;
  grid-template-columns: repeat(2, 1fr);
}

.fr-fr-fr {
  @include gridVariation;
  grid-template-columns: repeat(3, 1fr);
}

.fr-fr-max {
  @include gridVariation;
  grid-template-columns: repeat(2, 1fr) max-content;
}

.max-fr {
  @include gridVariation;
  grid-template-columns: max-content 1fr;
}

.max-fr-fr {
  @include gridVariation;
  grid-template-columns: max-content repeat(2, 1fr);
}

.max-max {
  @include gridVariation;
  grid-template-columns: repeat(2, max-content);
}

.max-max-max {
  @include gridVariation;
  grid-template-columns: repeat(3, max-content);
}

.max-max-max-max {
  @include gridVariation;
  grid-template-columns: repeat(4, max-content);
}

.fr-max-max-fr {
  @include gridVariation;
  grid-template-columns: 1fr repeat(2, max-content) 1fr;
}

.fr-max-max {
  @include gridVariation;
  grid-template-columns: 1fr repeat(2, max-content);
}

.max-max-fr {
  @include gridVariation;
  grid-template-columns: repeat(2, max-content) 1fr;
}

.fr-2max {
  @include gridVariation;
  grid-template-columns: 1fr repeat(2, max-content);
}

.two-max-fr {
  @include gridVariation;
  grid-template-columns: repeat(2, max-content) 1fr;
}

.max-fr-max {
  @include gridVariation;
  grid-template-columns: max-content 1fr max-content;
}

.big-numbered-list {
  font-family: $font;
  font-size: 1.6rem;
  color: $grey;
  line-height: 2.8rem;
  border-color: $mainColor !important;
  margin-top: 4rem;
  padding: 3rem;
  counter-increment: section;
  position: relative;
  z-index: 5;
}

.big-numbered-list::before {
  content: counter(section);
  position: absolute;
  text-align: center;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  color: $mainColorTransparent;
  font-size: 12rem;
  font-family: $fontBold, $fontHebrew;
  font-weight: 900;
  z-index: -5;
}

.caged-list {
  font-family: $font;
  font-size: 1.6rem;
  color: $grey;
  line-height: 2.8rem;
  border-top: 2px dashed;
  border-color: $mainColor !important;
  margin: 0;
  padding: 3rem;
  counter-increment: section;
  position: relative;
}

.caged-list:nth-child(even):before {
  content: counter(section);
  right: 100%;
  margin-right: -2rem;
  position: absolute;
  border-radius: 50%;
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  background: $gradientColor;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 110%;
}

.caged-list:nth-child(odd):before {
  content: counter(section);
  left: 100%;
  margin-left: -2rem;
  position: absolute;
  border-radius: 50%;
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  background: $gradientColor;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 110%;
}

.caged-list:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  margin-right: 3rem;
  padding-right: 0;
}

.caged-list:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  margin-left: 3rem;
  padding-left: 0;
}

.caged-list:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.caged-list:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.tiny-margin-right {
  margin-right: 2rem;
}

.small-margin-right {
  margin-right: 4rem;
}

.medium-margin-right {
  margin-right: 8rem;
}

.big-margin-right {
  margin-right: 16rem;
}

.extra-tiny-margin-bottom {
  margin-bottom: 1rem;
}

.tiny-margin-bottom {
  margin-bottom: 2rem;
}

.extra-small-margin-bottom {
  margin-bottom: 3rem;
}

.small-margin-bottom {
  margin-bottom: 4rem;
}

.medium-margin-bottom {
  margin-bottom: 8rem;
}

.big-margin-bottom {
  margin-bottom: 16rem;
}

.extra-tiny-margin-top {
  margin-top: 1rem;
}

.tiny-margin-top {
  margin-top: 2rem;
}

.small-margin-top {
  margin-top: 4rem;
}

.medium-margin-top {
  margin-top: 8rem;
}

.big-margin-top {
  margin-top: 16rem;
}
