@import "../../../../../../styles/imports";

.notice {
  border: $border;
  border-radius: $borderRadius;
  color: $mainColor;
  padding: 1rem;
  text-align: center;
  background-color: white;

  &__mixlr {
    font-family: $fontBold;
  }
}
