@import "../../../../../../styles/imports";

.single-channel {
  width: 100%;
  // max-width: 10rem;
  word-break: break-all;
  margin-top: 2rem;
  background-color: $bgColor;
  border-radius: $borderRadius;
  padding: 1.5rem;

  &--active {
    border: $border;
  }

  &__title {
    width: 100%;

    font-family: $fontBold;

    &--active {
      font-family: $fontBold;
      color: $mainColor;
    }
  }

  &__link {
    color: $grey;
    width: 100%;
    word-break: break-all;
    &--active {
      color: $mainColor;
    }
  }

  &__divide {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr max-content;
    align-items: center;

    @include resize(1350px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}
