@import "../../../styles/imports";

.feed {
  @include padding;
  position: relative;
  display: grid;

  &__load-more {
    border-radius: $borderRadius;
    border: 1px solid $mainColor;
    color: $mainColor;
    width: max-content;
    padding: 1.5rem 2.5rem;
    background-color: white;
    cursor: pointer;
    margin: auto;
    transition: all .1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover{
      padding: 1.8rem 2.8rem;
    }
  }
}

.post-button {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  z-index: 2000;
  height: 6rem;
  width: 6rem;
  // padding: 2.5rem 2.5rem;
  color: white;
  font-size: 3rem;
  border-radius: 35rem;
  transition: all 0.15s;
  box-shadow: 0 0.2rem 0.5rem rgb(170, 170, 170);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainColor;

  @include resize(800px) {
    right: 8rem;
  }

  @include resize(700px) {
    right: 6rem;
  }

  @include resize(600px) {
    right: 5rem;
  }

  @include resize(500px) {
    right: 4rem;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 1rem rgb(170, 170, 170);
  }
  &:active {
    transform: translateY(-0.15rem);
    box-shadow: 0 0.4rem 0.7rem rgb(170, 170, 170);
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  // padding-left: 7rem; /* gutter size */
  background-clip: padding-box;
}

// /* Style your items */
// .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
//   background: grey;
//   margin-bottom: 30px;
// }
