@import "../../../../../../styles/imports";

.multiverse {
  // height: 100%;
  max-height: 450px;

  &__channels {
    margin-top: 2rem;
    // max-height: 32rem;
    overflow-y: scroll;

    @include scroll;
  }
  &__form {
    max-width: 100%;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 1fr max-content;

    @include resize(1200px) {
      grid-template-columns: 1fr;
    }

    &-input {
      max-width: 9rem;
      outline: none;
      border: none;
      font-size: 1.2rem;
      &::-webkit-input-placeholder {
        color: $grey;
      }
      &-container {
        width: 100%;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 1rem;
        align-items: center;
        background-color: white;
        box-shadow: 0 0.2rem 2rem rgb(228, 228, 228);
        border-radius: $borderRadius;
        padding: 0.3rem 1.7rem;
      }
    }
  }

  &__emoji {
    position: relative;
    z-index: $z90;

    &:hover .multiverse__emoji--picker {
      display: block;
    }

    &--current {
      width: 1.3rem;
      height: 1.3rem;
    }
    &--picker {
      max-width: 20rem;
      position: absolute;
      top: 0rem;
      left: 0rem;
      z-index: 200000;
      display: none;
    }
  }
}
