@import '../../../styles/imports';

.filter-input{

    &__input-container{
        width: 100%;
        height: min-content;
        font-family: $font, Arimo;
        font-size: 1.6rem;
        margin-top: .5rem;
        padding: .5rem 1rem;
        outline: none;
        border: none;
        background-color: white;
        box-shadow: 0 0.2rem 2rem rgb(228, 228, 228);
        border-radius: $borderRadius;
        display: block;
        border-bottom: 2px solid $mainColor;
    }

    &__input{
        border: none;
        outline: none;
        font-family: $font;
        font-size: 1.4rem;
        width: 100%;
        margin: 0 2rem;
    }

    &__tag{
        display: inline-block;
        font-family: $font;
        padding: .2rem 1rem;
        border-radius: $borderRadius;
        width: max-content;
        background-color: $mainColor;
        color: white;
        cursor: pointer;
    }

}