@import "../../../../styles/imports";

.section {
  &__container {
    border-radius: $borderRadius;
    box-shadow: $containerBoxShadow;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    // @include resize(1500px) {
    //   padding: 1rem;
    // }
  }
  &__title {
    font-size: 1.2rem;
    color: $grey;
  }
}
