@import '../../../styles/imports';

.bottom-helpers{
    min-width: 20rem;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 5rem;
    display: grid;
    grid-template-columns: repeat(2,max-content);
    gap: 2rem;
    align-content: flex-end;
    justify-content: flex-end;
}