@import "../../../styles/imports";

.bottom-helpers {
  width: 100%;
  min-width: 20rem;
  position: fixed;
  z-index: $z90;
  align-content: flex-end;
  justify-content: flex-end;
  bottom: 0;

  &__chats {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    position: absolute;
    right: 5rem;
    bottom: 0;
  }

  &__notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-top: $border;
    margin: auto;
    background-color: $bgColor;
    &--title {
      font-family: $fontBold;
      font-size: 4rem;
      color: $mainColor;
    }

    &--body {
      font-family: $fontBold;
      color: $mainColor;
    }
  }
}
