@import "../../../styles/imports";

.input-field {
  &__input {
    position: relative;
    width: 100%;
    height: min-content;
    font-size: 1.1rem;
    font-family: $font, $fontHebrew;
    padding: 0.3rem 1.7rem;
    outline: none;
    border: none;
    background-color: white;
    box-shadow: 0 0.2rem 2rem rgb(228, 228, 228);
    border-radius: $borderRadius;
    display: block;
    border-bottom: 2px solid transparent;

    &--big {
      font-family: $fontBlog !important;
      // font-weight: 700;
      font-size: 3rem !important;
      line-height: 4rem;
      padding:1.5rem 2rem;
      height: 100% !important;
    }

    &--medium {
      font-family: $fontBlogBody !important;
      color: $greyDark !important;
      font-size: 2rem;
      line-height: 2.2rem;
      padding:1.5rem 2rem;
      height: 100% !important;
    }

    &:hover {
      border: $border;
    }

    &::-webkit-input-placeholder {
      color: $grey;
    }
    &:invalid {
      border-bottom: 2px solid rgb(216, 6, 6);
    }

    &--required {
      &:placeholder-shown {
        border-bottom: 2px solid $mainColor;
      }
    }
  }
  &__label {
    font-size: 1.2rem;
    display: block;
    transition: all 0.3s;
    margin-left: 2rem;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
