@import "../../../styles/imports";

.stranger {
  width: max-content;
  margin: auto;
  @include padding;

  @include resize(750px) {
    margin-top: 5rem;
  }

  &__header {
    // width: 100%;
    background-color: white;
    border-radius: $borderRadius;
    border: 1px solid $mainColor;
    padding: 4rem;
    margin-top: 3rem;
    cursor: default;
    display: grid;
    gap: 5rem;
    // grid-template-columns: max-content 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include resize(900px) {
      gap: 3rem;
    }

    @include resize(700px) {
      grid-template-columns: 1fr;
    }

    &-img {
      border-radius: 100%;
      overflow: hidden;
      width: 15rem;
      height: 15rem;
      border: white solid 0.4rem;
      object-fit: cover;
      box-shadow: 1rem 1rem 0 $mainColor;
    }
    &-body {
      display: flex;
      flex-direction: column;
      // margin-left: 5rem;
    }

    &-names {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      gap: 2rem;

      @include resize(900px) {
        grid-template-columns: max-content;
        gap: 1rem;
      }
    }

    &-name {
      color: $mainColor;
      font-family: $fontBold;
      font-size: 3rem;
      @include resize(900px) {
        font-size: 2.5rem;
      }
    }

    &-username {
      color: $grey;
      font-family: $fontBold;
      font-size: 3rem;
      @include resize(900px) {
        font-size: 2.5rem;
      }
    }

    &-follow {
      width: 100%;
      text-align: center;
      color: $mainColor;
      border-radius: $borderRadius;
      border: 1px solid $mainColor;
      padding: 0.2rem 1rem;
    }

    &-tagline {
      color: $grey;
      font-size: 2rem;
      margin-top: 2rem;
    }

    &-languages {
      color: $mainColor;
      font-size: 2rem;
      margin-top: 2rem;
    }

    &-mentees {
      color: $mainColor;
      font-size: 2rem;
      margin-top: 2rem;
    }

    &-social {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(6, max-content);
    }
  }
}
