@import "../../../styles/imports";

$duration: 0.2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

.home {
  background-color: $bgColor;
  width: 100%;
  max-width: 160rem;
  margin-right: auto;
  margin-left: auto;
  @include padding;

  @include resize(750px) {
    margin-top: 5rem;
  }

  &__welcome {
    border: $border;
    border-radius: $borderRadius;
    padding: 1rem;
    margin-top: 1rem;
    line-height: 2.2rem;
    color: $mainColor;

    @include resize(1200px) {
      margin-top: 2rem;
    }
    @include resize(750px) {
      margin-top: -3rem;
    }
  }

  &__menu {
    width: max-content;
    margin-left: -2rem;
    margin-bottom: 4rem;
    user-select: none;

    @include resize(750px) {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      text-align: center;
      margin-top: 10%;

      li {
        display: inline-block;
        margin: 0 2rem;
        font-size: 1.4rem;
      }
    }
    a {
      color: $grey;
      position: relative;
      text-decoration: none;
      padding-bottom: 8px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $mainColor;
      }
      &:before {
        opacity: 0;
        transform: translateY(-$distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
      &:hover,
      &:focus {
        color: $mainColor;

        &:before,
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }
}

.default-active {
  color: $mainColor;
  display: inline-block;
  margin-left: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  border-bottom: $mainColor solid 2px;
  line-height: 2.7rem;
  margin-top: 2px;
  margin-right: 2rem;
}

.post-button {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
  z-index: 200;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.6rem;
  border-radius: 35rem;
  border: 1px rgba(white, 0.8) solid;
  transition: all 0.15s;
  box-shadow: 0 0.2rem 0.5rem rgba(78, 75, 75, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainColor;
  text-decoration: none !important;

  @include resize(800px) {
    right: 8rem;
  }

  @include resize(700px) {
    right: 5rem;
  }

  @include resize(600px) {
    right: 4rem;
  }

  @include resize(500px) {
    right: 3rem;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.4rem 1rem rgba(78, 75, 75, 0.6);
    color: white !important;
    text-decoration: none !important;
  }
  &:active {
    transform: translateY(-0.15rem);
    box-shadow: 0 0.4rem 0.7rem rgba(78, 75, 75, 0.6);
    color: white !important;
  }
}
