@import "../../../../styles/imports";

.post {
  position: relative;
  width: 100%;
  min-width: calc(100vw - 5rem);
  max-height: calc(100vh - 5rem);
  overflow-x: hidden;
  overflow-y: scroll;
  @include scroll;

  &__body {
    max-width: 100%;
    margin: auto;

  }

  &__content {
    margin-top: 2rem;
    font-size: 1.6rem;
    font-family: $fontBlogBody;
    font-weight: 100;
    line-height: 3rem;
    color: $greyDarkest;
    padding: 2rem;

    strong {
      font-family: $fontBlogBody;
      font-weight: 900;
    }

    a {
      color: $mainColor !important;
      &:hover {
        color: $mainColor !important;
        text-decoration: underline !important;
      }
    }
  }

  &__like {
    // position: absolute;
    // top: 40vh;
    // left: 4rem;
    margin: 1rem;

    width: 2.5rem;
    height: 2.5rem;

    &-container {
      width: 5rem;
      height: 5rem;
      border: $border;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-items: center;
      padding-left: 0.1rem;
      cursor: pointer;
      transition: all 0.15s;

      &:hover {
        transform: translateY(-0.2rem);
      }

      &--unliked {
        background-color: white;
        &:hover {
          background-color: $mainColor;
        }
      }

      &--liked {
        background-color: $mainColor;
        &:hover {
          background-color: white;
        }
      }
    }
  }
}
