@import "../../../../styles/imports";

.profile-edit-slider {
  position: fixed;
  right: 0;
  margin-top: -2rem;
  height: 100%;

  z-index: $z100;
  background-color: white;
  border-left: 1px solid $grey;

  &__checkbox {
    display: none;

    &:checked ~ .profile-edit-slider__content {
      padding: 2rem;
      width: 30rem;
      display: grid;
      visibility: visible;
      opacity: 1;
    }
  }

  &__content {
    padding: 0;
    width: 0;
    max-height: calc(100vh - 5rem);
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
    @include scroll;
  }

  &__image {
    position: relative;
    width: 8.3rem;
    justify-self: center;
    &-preview {
      width: 8rem;
      height: 8rem;
      object-fit: cover;

      border: 3px solid white;
      border-radius: 100%;
    }

    &-container {
      width: 8.3rem;
      height: 8.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      overflow: hidden;

      border: $imageBorder;
      border-radius: 100%;
    }

    &-btn {
      height: 3rem;
      width: 3rem;
      background-color: white;
      border: 1px dashed $mainColor;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: translateY(-0.2rem);
      }
    }

    &-approve {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &-cancel {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
