@import "../../../../styles/imports";

.profile-edit-slider {
  position: fixed;
  right: 0;
  margin-top: -2rem;
  height: 100%;

  z-index: $z100;
  background-color: white;
  border-left: 1px solid $grey;

  &__checkbox {
    display: none;

    &:checked ~ .profile-edit-slider__content {
      padding: 2rem;
      width: 40rem;
      display: grid;
      visibility: visible;
      opacity: 1;
    }
  }

  &__title{
    font-size: 2.2rem;
    font-family: $fontBold;
  }

  &__subtitle{
    color: $grey;
    margin-top: -1rem;
  }

  &__suggestion {
    width: max-content;
    display: inline-block;
    background-color: $mainColor;
    color: white;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    border-radius: $borderRadius;
    cursor: pointer;
  }

  &__content {
    padding: 0;
    width: 0;
    max-height: calc(100vh - 5rem);
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
    @include scroll;
  }

  &__image {
    // position: relative;
    // width: 8rem;
    // justify-self: center;
    &-preview {
      width: 15rem;
      height: 15rem;
      object-fit: cover;

      border: 3px solid white;
      border-radius: 100%;
    }

    &-container {
      width: 15.3rem;
      height: 15.3rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      overflow: hidden;

      border: $imageBorder;
      border-radius: 100%;
    }

    &-btn {
      height: 3rem;
      width: 3rem;
      background-color: white;
      border: 1px dashed $mainColor;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: translateY(-0.2rem);
      }
    }

    &-approve {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &-cancel {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }


  // &__image {
  //   &-preview {
  //     object-fit: cover;
  //     width: 15rem;
  //     height: 15rem;
  //   }

  //   &-container {
  //     border-radius: 100%;
  //     overflow: hidden;
  //     width: 15rem;
  //     height: 15rem;
  //     border: $mainColor solid 2px;
  //   }
  // }

  &__fields{
    display: grid;
    gap: 1.5rem;
  }

  &__top {
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 3rem;
    @include resize(1100px) {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  &__upload {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}
