@import "../../../../styles/imports";

.audio-settings {
  &__add {
      background-color: white;
    border: $border;
    font-size: 2rem;
    border-radius: 4rem;
    padding: 1rem;
    line-height: 1.1rem;
    color: $mainColor;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: white;
      background-color: $mainColor;
    }
  }
}
