@import "../../../styles/imports";

.single-room {
  width: 100%;
  max-width: 160rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: 450px repeat(auto-fill, 1fr);
  gap: 2rem;
  justify-items: stretch;
  align-items: stretch;
  @include padding;

  &__container {
    &-multiverse {
      &--with-audio{
        grid-column: 1/4;
        grid-row: 1/3;
      }

      &--no-audio{
        grid-column: 1/4;
        grid-row: 1/2;
      }


      @include resize(1100px) {
        grid-column: 1/13;
        grid-row: 2/3;
      }
    }
    &-chat {
      grid-column: 4/13;
      grid-row: 1/2;
      @include resize(1100px) {
        grid-column: 1/13;
      }
    }
    &-audio {
      &--mobile {
        grid-column: 1/13;
        grid-row: 2/3;
        @include resize(1100px) {
          grid-row: 3/4;
        }
      }
      &--not-mobile {
        grid-column: 4/13;
        grid-row: 2/3;
        @include resize(1100px) {
          grid-column: 1/13;
          grid-row: 3/4;
        }
      }
    }

    &-donations {
      grid-column: 8/13;
      grid-row: 3/5;
      @include resize(1100px) {
        grid-row: 4/5;
      }
      @include resize(700px) {
        grid-column: 1/13;
        grid-row: 4/5;
      }
    }
    &-description {
      grid-column: 8/13;
      grid-row: 3/5;
      @include resize(1200px) {
        grid-column: 1/4;
        grid-row: 4/6;
      }
    }

    &-no-mobile {
      grid-column: 1/13;
      grid-row: 1/2;
      border: $border;
      border-radius: $borderRadius;
      padding: 4rem;
      text-align: center;
      margin-top: 2rem;
    }
    &-info {
      &--with-donations {
        grid-column: 4/8;
        grid-row: 3/5;
        @include resize(1200px) {
          grid-column: 4/8;
          grid-row: 3/5;
        }
        @include resize(1100px) {
          grid-column: 1/8;
          grid-row: 4/6;
        }
        @include resize(700px) {
          grid-column: 1/13;
          grid-row: 5/6;
        }
      }
      &--without-donations {
        grid-column: 4/13;
        grid-row: 3/5;
        @include resize(1200px) {
          grid-column: 4/13;
          grid-row: 3/5;
        }
        @include resize(1100px) {
          grid-column: 1/13;
        }
      }
    }

    &-mixlr {
      grid-column: 1/4;
      grid-row: 3/4;
      @include resize(1100px) {
        grid-column: 1/13;
        grid-row: 9/10;
      }
    }

    &-admin {
      &--owner {
        grid-column: 1/4;
        grid-row: 4/5;

        @include resize(1200px) {
          grid-column: 1/4;
          grid-row: 4/5;
        }
        @include resize(1100px) {
          grid-column: 1/13;
          grid-row: 10/11;
        }
      }

      &--visitor {
        grid-column: 1/4;
        grid-row: 3/4;

        @include resize(1200px) {
          grid-column: 1/4;
          grid-row: 3/4;
        }
        @include resize(1100px) {
          grid-column: 1/13;
          grid-row: 9/10;
          margin-top: 0rem;
        }
      }
    }

    &-comments {
      grid-column: 4/13;
      grid-row: 5/9;
      @include resize(1100px) {
        grid-column: 1/13;
        grid-row: 6/9;
      }
    }
  }

  &__access {
    &-container {
      height: 450px;
      border: $border;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-buttons {
      width: 35%;
      display: grid;
      gap: 2rem;
    }
    &-button {
      cursor: pointer;
      padding: 1rem;
      border-radius: $borderRadius;
      text-align: center;

      &--active {
        background-color: $mainColor;
        color: white;
      }

      &--unactive {
        background-color: $greyLight;
        color: $grey;
      }
    }
  }

  &__audio {
    border: none;
    outline: none;
  }

  &__chat {
    border: none;
    outline: none;
  }

  &__current-portal {
    font-family: $fontBold;
  }

  &__comment {
    &--text {
      display: none;
      @include resize(950px) {
        display: block;
      }
    }

    &--boxed {
      @include resize(950px) {
        display: none;
      }
    }
  }

  // &__box {
  //   margin: 4rem auto;
  //   // max-width: 35rem;
  // }
  &__comments {
    width: 100%;
    height: max-content;
    border-radius: $borderRadius;
    box-shadow: 0 0.2rem 9rem rgb(228, 228, 228);
    background-color: white;
    padding: 3rem;
    @include resize(1200px) {
      margin: 0 auto;
    }

    @include resize(650px) {
      padding: 2rem;
    }
  }

  &__founder {
    &-admin {
      font-size: 1.2rem;
      color: $grey;
    }
    &-name {
      color: $greyDark;
      &:hover {
        color: $mainColor;
      }
    }
  }
}
