@import "../../../styles/imports";

.single-room {
  position: relative;
  width: 100%;
  max-width: 160rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  justify-items: stretch;
  align-items: stretch;
  padding: 2rem;


  &__media {
    grid-column: 1/13;
    grid-row: 1/2;
  }

  &__details {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  &__management {
    grid-column: 1/4;
    grid-row: 3/4;


    @include resize(900px) {
      grid-column: 1/13;
      grid-row: 4/5;
    }
  }

  &__comments {
    grid-column: 4/13;
    grid-row: 3/9;
    @include resize(900px) {
      grid-column: 1/13;
      grid-row: 3/4;
    }
  }

  &__point-bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(#000000, 0.5);
    z-index: 2000;
  }
}
