@import "../../../styles/imports";

.requests {
  position: fixed;
  right: 2rem;
  bottom: 8rem;
  display: grid;
  gap: 2rem;
  z-index: $z100;

  max-height: calc(100vh - 5rem);

  margin: auto;
  // padding: 2rem 2rem 8rem 2rem;

  overflow-x: hidden;
  overflow-y: scroll;
  @include scroll;
}

