@import '../../../styles/imports';

.auth-options {
  display: grid;
  width: max-content;
  align-items: center;

  &__box {
    @include resize(1100px) {
      display: none;
    }
  }

  &__text {
    display: none;

    // @include resize(1100px) {
    //   display: block;
    // }
  }
}
