@import "../../../styles/imports";

.auth-options {
  display: grid;
  width: max-content;
  align-items: center;

  &__box {
    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
    }

    @include resize(750px) {
      display: none;
    }
  }

  &__text {
    display: none;
    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}
