@import "../../../../../../styles/imports";

.portal {
  padding: 0.5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  cursor: pointer;

  @include resize(1500px) {
    grid-template-columns: 1fr;
    line-height: 1.6rem;
  }

  &__title-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: max-content 1fr;
  }

  &__title {
    transition: all 0.2s;
    &:hover {
      font-size: 1.4rem;
    }

    &--current {
      font-family: $fontBold, $fontHebrewBold;
      color: $mainColor;
      transition: all 0.2s;
      &:hover {
        font-size: 1.4rem;
      }
    }
  }

  &__members {
    color: $grey;
    font-size: 1.2rem;
  }

  &__enter {
    background-color: $mainColor;
    padding: 0rem 0.7rem;
    color: white;
    border-radius: $borderRadius;
  }
}
