@import "../../../styles/imports";

.tag {
  display: inline-block;
  font-family: $font, $fontHebrew;
  padding: 1rem 2rem;
  border-radius: $borderRadius;
  width: max-content;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.15s;

  
  @include resize(700px) {
    padding: .5rem 1rem;
  }

  &-suggestion {
    background-color: white;
    color: $mainColor;
    border: $mainColor 1px solid;

    &:hover {
      border: $mainColor 2px solid;
    }
    &__count {
      color: $grey;
    }
  }

  &-selected {
    background-color: $mainColor;
    color: white;
  }
}

.tags {
  width: 100%;
  border-radius: $borderRadius;
  // background-color: white;
  padding: 1rem 0 0 0;

  &__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  &__submit {
    width: max-content;
    height: max-content;
    font-family: $font;
    // margin-top: 1rem;
    background-color: $mainColor;
    padding: .5rem 2rem;
    border-radius: $borderRadius;
    color: white;
    cursor: pointer;

    @include resize(700px) {
      padding: .5rem 1rem;
    }
  }
}
