@import "../../styles/imports";

.room {
  // min-width: 30rem;
  border-radius: $borderRadius;
  box-shadow: $containerBoxShadow;
  background-color: white;
  padding: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
  justify-self: stretch;
  align-self: stretch;
  cursor: default;

  &-feed{
    margin-bottom: 3rem;
  }

  &__languages {
    display: flex;
    flex-direction: column;
    // align-items: baseline;
    &--practice {
      font-family: $fontBold;
      color: $mainColor;
    }
    &--base {
      color: $grey;
      // margin-left: 1rem;
    }
  }

  &__last-visit {
    color: $grey;
    margin-bottom: 1rem;
    line-height: 2rem;
  }

  &__read-more {
    color: $mainColor;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    padding: 3rem;
    @include resize(900px) {
      padding: 2rem;
    }

    @include resize(750px) {
      padding: 1.6rem;
    }
  }

  &__center {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 1rem;
  }

  &__title {
    font-family: $fontBold, $fontHebrewBold;
    font-size: 2.4rem;
    color: $greyDarkest;
    cursor: pointer;

    &:hover {
      color: $mainColor;
    }

    @include resize(950px) {
      font-size: 2rem;
      line-height: 2.2rem;
    }

    @include resize(750px) {
      // font-family: $font;
      font-weight: 900;
      font-size: 1.8rem;
      line-height: 2rem;
    }

    // @include resize(650px) {
    //   font-size: 1.5rem;
    //   line-height: 1.7rem;
    // }
  }

  &__body {
    font-size: 1.4rem;
    color: $greyDarkest;
    // white-space: pre-line;
  }

  &__donate-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    fill: $mainColor;
  }

  &__paypal {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 2rem;
    margin: auto;
    width: max-content;
    &-svg {
      height: 2rem;
      width: 2rem;
    }
    &-text {
      width: max-content;
    }
  }

  &__live {
    font-size: 1.4rem;
    font-family: $fontBold;
    color: $mainColor;
  }

  &__tag {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.6rem 0.8rem;
    line-height: 1rem;
    border-radius: $borderRadius;
    width: max-content;
    margin-right: 1rem;
    user-select: none;
    color: white;
    background-color: $mainColor;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $mainColor;
      border: 1px solid $mainColor;
      padding: calc(0.6rem - 1px) calc(0.8rem - 1px);
    }
  }
  &__host {
    font-size: 1.4rem;
    color: $grey;

    &-name {
      cursor: pointer;
      &:hover {
        color: $mainColor;
      }
    }
  }
  &__timestamp {
    font-size: 1.4rem;
    color: $grey;
  }

  &__attendants {
    font-size: 1.4rem;
    color: $mainColor;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.8rem 5rem rgb(190, 190, 190);
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  &__button {
    // margin: 0.5rem !important;
    padding: 1rem !important;
    text-align: center;
    border-radius: $borderRadius;
    font-size: 1.2rem;
    transition: all 0.2s;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    &-line {
      border: 1px solid $mainColor;
      color: $mainColor;
      text-decoration: none;
      &:hover {
        background: $mainColorTransparent;
        text-decoration: none;
      }
    }

    &-full {
      background: $mainColor;
      color: white !important;
      text-decoration: none;
      &:hover {
        color: white !important;
        text-decoration: none;
      }
    }

    ul {
      list-style-type: none;
    }

    li {
      transition: all 0.2s;
      &:hover {
        font-size: 1.3rem;
      }
    }

    a {
      color: $mainColor;
      &:visited {
        color: $mainColor;
      }
    }
  }

  &__attending {
    background: $greyLightest;
    margin: 0.5rem;
    padding: 1rem;
    color: $grey;
    text-align: center;
    border-radius: $borderRadius;
    font-size: 1.2rem;
  }

  &__follow {
    background: $blueGradientColor;
    margin: 0.5rem;
    padding: 1rem;
    color: white;
    text-align: center;
    border-radius: $borderRadius;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-0.1rem);
      box-shadow: 0 0.1rem 0.2rem rgb(170, 170, 170);
    }
  }

  &__actions {
    &--all {
      display: grid;
      gap: 0.5rem;
      margin: 0.5rem;
    }
    &--pair {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }
  }

  &__icon {
    height: 15px;
    width: 15px;
    text-align: center;
    margin: auto;
  }

  &-button {
    background-color: $mainColor;
    height: max-content;
    color: white !important;
    font-size: 1.2rem !important;
    border-radius: $borderRadius;
    padding: 1rem !important;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;

    &__delete {
      &:hover {
        background-color: red;
      }
    }

    &__normal {
      text-decoration: none;

      &:hover {
        background-color: white;
        color: $mainColor !important;
        border: $border;
        text-decoration: none;
      }
    }
  }
}

.social {
  display: grid;
  margin: 1.5rem;
  grid-template-columns: max-content;
  gap: 1rem;
  height: max-content;
  &__icon {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    fill: $mainColor;

    &-disabled {
      height: 3rem;
      width: 3rem;
      fill: $grey;
    }

    &--facebook {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--facebook-icon {
        fill: $facebookColor;
        transform: rotate(1080deg);
      }
    }

    &--instagram {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--instagram-icon {
        fill: $instagramColor;
        transform: rotate(1080deg);
      }
    }

    &--twitter {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--twitter-icon {
        fill: $twitterColor;
        transform: rotate(1080deg);
      }
    }

    &--soundcloud {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--soundcloud-icon {
        fill: $soundcloudColor;
        transform: rotate(1080deg);
      }
    }

    &--spotify {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--spotify-icon {
        fill: $spotifyColor;
        transform: rotate(1080deg);
      }
    }

    &--youtube {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--youtube-icon {
        fill: $youtubeColor;
        transform: rotate(1080deg);
      }
    }

    &--linkedin {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--linkedin-icon {
        fill: $linkedinColor;
        transform: rotate(1080deg);
      }
    }

    &--website {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--website-icon {
        fill: $mainColor;
        transform: rotate(1080deg);
      }
    }

    &--room {
      &-icon {
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
      :hover .social__icon--room-icon {
        fill: $mainColor;
        transform: rotate(1080deg);
      }
    }
  }
}

.live {
  // border: 1px $mainColor solid;
  box-shadow: 0 0.2rem 3rem rgba($mainColor, 0.5);
}
