@import "../../../styles/imports";

.navigation {
  display: none;

  @include resize(750px) {
    display: block;
  }
  &__checkbox {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &__radio {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 4.5rem;
    left: 4rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;

    @include resize(700px) {
      height: 4.5rem;
      width: 4.5rem;
      top: 3.5rem;
      left: 3.5rem;
    }

    @include resize(600px) {
      height: 4rem;
      width: 4rem;
      top: 3rem;
      left: 3rem;
    }
    // @include resize(500px) {
    //   left: 3rem;
    // }
  }

  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 5rem;
    left: 4.5rem;
    background-image: radial-gradient($mainColor, $mainColorDark);
    z-index: 1000;
    transition: transform, 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include resize(700px) {
      height: 3.5rem;
      width: 3.5rem;
      top: 4rem;
      left: 4rem;
    }

    @include resize(600px) {
      height: 3rem;
      width: 3rem;
      top: 3.5rem;
      left: 3.5rem;
    }

    @include resize(500px) {
      left: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all, 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 5rem;
    font-size: 5rem;
    color: white;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @include resize(600px) {
      font-size: 4rem;
      line-height: 3rem;
    }

    &:hover {
      background-position: 100%;
      font-family: $fontBold;
      transform: translateX(1rem);
    }
  }

  &__link:link,
  &__link:visited {
    display: block;

    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%
    );
    background-size: 220%;
    transition: all, 0.4s;
  }

  &__link:hover,
  &__link:active {
    background-position: 100%;
    font-family: $fontBold;
    transform: translateX(1rem);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
    display: block;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 2.5rem;

    @include resize(700px) {
      margin-top: 2.3rem;
    }

    @include resize(600px) {
      margin-top: 2rem;
    }
  }
  &__icon,
  &__icon::before,
  &__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #333;
    display: inline-block;

    @include resize(800px) {
      width: 2rem;
      height: 2px;
    }

    @include resize(700px) {
      width: 2rem;
      height: 1px;
    }

    @include resize(600px) {
      width: 1.5rem;
    }
  }
  &__icon::before,
  &__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  &__icon::before {
    top: -0.6rem;
  }
  &__icon::after {
    top: 0.6rem;
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
