@import "../../../../styles/imports";

.calendar {
  &__date {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  &__events {
    height: max-content;
    max-height: 30rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $mainColor;
      outline: 1px solid slategrey;
    }
  }
}
